<html>
<title>Start page</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <body>
      <h1>
         <font size="3">
         / - start page <br><br>
         /add   -   {"query":&lt;query&gt;,
                     "location_id":&lt;location_id&gt;} (use POST) response -> id<br><br>
         /stat  -   {"request_id":&lt;request_id&gt;,
                     "timestamp_fst":&lt;timestamp_fst&gt;,
                     "timestamp_snd":&lt;timestamp_snd&gt;} (use POST) response -> timestamps + count<br><br>
         /top  -   {"request_id":&lt;request_id&gt;} (use POST) response -> list of the first 5 ads<br><br>

    region_id | region<br>
    645530 |	Адыгея<br>
    621590 |	Алтайский край<br>
    622470 |	Амурская область<br>
    622650 |	Архангельская область<br>
    623110 |	Астраханская область<br>
    645790 |	Башкортостан<br>
    623410 |	Белгородская область<br>
    623840 |	Брянская область<br>
    623845 |	Бурятия<br>
    624300 |	Владимирская область<br>
    624770 |	Волгоградская область<br>
    625330 |	Вологодская область<br>
    625670 |	Воронежская область<br>
    646710 |	Дагестан<br>
    626470 |	Еврейская АО<br>
    661460 |	Забайкальский край<br>
    628450 |	Ивановская область<br>
    628455 |	Ингушетия<br>
    628780 |	Иркутская область<br>
    629430 |	Кабардино-Балкария<br>
    629990 |    Калининградская область<br>
    629995 |	Калмыкия<br>
    630270 |	Калужская область<br>
    630660 |	Камчатский край<br>
    630750 |	Карачаево-Черкесия<br>
    648070 |	Карелия<br>
    631080 |	Кемеровская область<br>
    631730 |	Кировская область<br>
    648340 |	Коми<br>
    632390 |	Костромская область<br>
    632660 |	Краснодарский край<br>
    634930 |	Красноярский край<br>
    621550 |	Крым<br>
    635730 |	Курганская область<br>
    636030 |	Курская область<br>
    636370 |	Ленинградская область<br>
    637260 |	Липецкая область<br>
    637530 |	Магаданская область<br>
    648730 |	Марий Эл<br>
    648960 |	Мордовия<br>
    637640 |	Москва<br>
    637680 |	Московская область<br>
    640000 |	Мурманская область<br>
    640001 |	Ненецкий АО<br>
    640310 |	Нижегородская область<br>
    641240 |	Новгородская область<br>
    641470 |	Новосибирская область<br>
    642020 |	Омская область<br>
    642480 |	Оренбургская область<br>
    643030 |	Орловская область<br>
    643250 |	Пензенская область<br>
    643700 |	Пермский край<br>
    644490 |	Приморский край<br>
    645260 |	Псковская область<br>
    662811 |	Республика Алтай<br>
    651110 |	Ростовская область<br>
    652220 |	Рязанская область<br>
    652560 |	Самарская область<br>
    653240 |	Санкт-Петербург<br>
    653420 |	Саратовская область<br>
    649330 |	Саха (Якутия)<br>
    653430 |	Сахалинская область<br>
    653700 |	Свердловская область<br>
    649820 |	Северная Осетия<br>
    654860 |	Смоленская область<br>
    655190 |	Ставропольский край<br>
    656520 |	Тамбовская область<br>
    650130 |	Татарстан<br>
    656890 |	Тверская область<br>
    657310 |	Томская область<br>
    657610 |	Тульская область<br>
    650690 |	Тыва<br>
    658170 |	Тюменская область<br>
    659200 |	Удмуртия<br>
    659540 |	Ульяновская область<br>
    659930 |	Хабаровский край<br>
    650890 |	Хакасия<br>
    660300 |	Ханты-Мансийский АО<br>
    660710 |	Челябинская область<br>
    660711 |	Чеченская республика<br>
    662000 |	Чувашия<br>
    662280 |	Чукотский АО<br>
    662330 |	Ямало-Ненецкий АО<br>
    662530 |	Ярославская область<br>


         </font>
       </h1>
   </body>
</html>